<div style="margin-top: -1.7%;">
    <div style="background-image: url('images/london2.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;">
        <h1 style="font-weight:500; font-size:30px;padding-top: 15%;margin-left: 5%;">A Day in London</h1>
    </div>
</div>
<div style="display: inline-flex; width: 100%; height: 7em;background-color: whitesmoke;padding: 3%;font-size: 15px;">
    <p style="padding-right: 10%;padding-left: 5%;text-decoration: none;"><a href="#details"><b
                style="color: black;">Details</b></a></p>
    <p style="padding-left: 10%;"><a href="#photos"><b style="color: black;">Photos</b></a></p>
</div>


       
    
    <hr>
    <style>
        div.elem-group {
            margin: 20px 0;
        }

        div.elem-group.inlined {
            width: 49%;
            float: right;
            margin-left: 1%;
        }


        div.elem-group.inlined input {
            width: 95%;
            display: inline-block;
        }

        button {
            height: 50px;
            background: orange;
            border: none;
            color: white;
            font-size: 1.25em;
            font-family: 'Nanum Gothic';
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            border: 2px solid black;
        }
    </style><br><br><br>

    <div style="float: right; text-align: center;background-color: rgb(187, 172, 172); margin-top: 30%;width: 100%;">
        <div style="text-align: start; font-size: 14px;margin-left: 10px;">
            <h1><b>Why Book With Us</b></h1><br>
            <p><i class="fas fa-dollar-sign"></i>best price guarantee</p>
            <hr>
            <p><i class="fas fa-headphones"></i>Customer care service 24/7</p>
            <hr>
            <p><i class="fas fa-star"></i>Well planned tours and activity</p>
            <hr>
            <p><i class="fas fa-globe"></i>Free Travel Insurance</p>
            <hr>
        </div>
    </div><br><br>

    <div style="float: right; text-align: center;background-color: rgb(13, 179, 245); margin-top: 30%;width: 100%;">
        <div style="text-align: center; font-size: 14px; color: white;">
            <h1><b>Having any Question?</b></h1><br>
            <p>Give us a call or mail us at</p><br>
            <div style="color: yellow;">
                <p><i class="fas fa-phone-alt"></i>+9520215003</p><br>
                <p><i class="far fa-envelope"></i><br> AnshBisht777@gmail.com</p><br>
            </div>
        </div>
    </div>


<div style="font-size: 15px;padding-left: 7%;width: 60%;">
    <h1 id="details"><b>Tour Details</b></h1><br>
    <b>Safari price Cost Includes:</b><br>
    <ul>
        <li>Transport in free custom van 8 seater along with viewing and photography</li>
        
        <li>free water for everyone</li>
        <li>Accommodation in spacious double room</li>
    </ul>
    <br>
    <b>Program costs exclude:</b>
    <ul>
        <li>Item only of ap</li>
        <li>Tips, Laundry, Visas,Beverages/Drinks International flights</li>
        <li>excursions/tips andOptional activities</li>
        <li>Travel insurance/personal accident cover</li>
    </ul>
    
    

        <h2 id="photos"><b>Photos</b>
                <div class="item active">
                    <img src="images/london4.jpg" style="width:100%;height: 23em;">
                </div>

                <div class="item">
                    <img src="images/london1.jpg" style="width:100%;height: 23em;">
                </div>

                <div class="item">
                    <img src="images/london5.jpg" style="width:100%;height: 23em;">
                </div>